html, body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background-color:rgb(255,255,255);
}
.col-lg-4{
  display:flex;
  align-items:center;
  height:70px;
  margin-top:10px;
}
h2{
  display:inline-block;
  color: rgb(0,230,118);
  font-size:32px;
  margin:0;
}
h1{
  display:inline-block;
  color: rgb(0,230,118);
  font-size:60px;
  margin:0;
}
.col-lg-6{
  list-style: none;
  height:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:10px;
  margin-bottom:250px;
}
.nav-pills > li > a{
  color:rgb(33,33,33);
  font-size:16px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover{
  background: rgb(0,230,118);
  color:rgb(255,255,255);
}
.col-lg-12{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:20px;
}
p{
 color:rgb(33,33,33);
 font-size:16px;
 width:50%;
 text-align:center;
}
img{
  height: 70px;
  width:70px;
}
.btn-default:hover{
  background-color:rgb(0,230,118);;
  color:rgb(255,255,255);
  border:0px;
}
