html, body{
  margin:0;
  padding:0;
  padding-top: 5px;
  height:100%;
  width:100%;
  background-color:rgb(255,255,255);
}
.col-lg-4{
  display:flex;
  align-items:center;
  height:70px;
  margin-top:10px;
}
h2{
  display:inline-block;
  color: rgb(0,230,118);
  font-size:32px;
  margin:0;
}
h1{
  display:inline-block;
  color: rgb(0,230,118);
  font-size:60px;
  margin:0;
}
.col-lg-6{
  list-style: none;
  height:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:10px;
  margin-bottom:200px;
}
.nav > li > a{
  color:rgb(33,33,33);
  font-size:18px;
}
.nav > li > a:hover, .nav>li>a:focus{
  background: rgb(0,230,118);
  color:rgb(255,255,255);
  border:0px;
}
.col-lg-12{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:20px;
}
p{
 color:rgb(33,33,33);
 font-size:16px;
 width:50%;
 text-align:center;
}
img{
  height: 70px;
  width:70px;
}
.btn-default:hover, .btn-default:focus{
  background-color:rgb(0,230,118);;
  color:rgb(255,255,255);
  border:0px;
}
.btn-active, .bt-default{
  background-color:rgb(0,230,118);;
  color:rgb(255,255,255);
  border:0px;
}
.form-control{
  width:20%;
  color: rgb(33,33,33);
}
.form-control:focus{
  color:rgb(33,33,33);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 230, 118, 0.5);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 230, 118, 0.5);
  border-color:rgb(0, 230, 118);
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
  background-color:rgb(0,230,118);;
  color:rgb(255,255,255);
  border:0px;
}
